body {
    font-family: "proxima-nova","Helvetica Neue", Helvetica,Arial,sans-serif;
}

.container {
    width: 1720px;
    height: 1079px;
    background-image: url("tiger+in+water.jpg");
    background-size: 100% 100%;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    /* display: flex; */
}

ul li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
}

ul li button {
    background-color: #ffaa00;
    color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.text {
    text-align: center;
    margin-top: 100px;
}

.text h1 {
    font-size: 70px;
    text-transform: uppercase;
}

.text h5 {
    font-size: 30px;
}
