.cell {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.game {
    display: flex;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}
