$gameColor: #32cd32;
$questionMarkColor: white;
$redColor: red;
$greenColor: green;
$blueColor: blue;
$yellowColor: yellow;
$blackColor: black;


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    display: flex;
    height: 100%;
}

.game {
    width: 75%;
    background-color: $gameColor;
    padding: 2rem;
}

.chances {
    width: 25%;
}

.cell {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.question_mark {
    background-image: url("../img/question_mark_PNG115.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 3px solid $questionMarkColor;
}

.row {
    display: flex;
    justify-content: space-between;
}

.blue {
    background-color: $blueColor;
    border: 3px solid $blueColor;
}

.red {
    background-color: $redColor;
    border: 3px solid $redColor;
}

.green {
    background-color: $greenColor;
    border: 3px solid $greenColor;
}

.black {
    background-color: $blackColor;
    border: 3px solid $blackColor
}

.yellow {
    background-color: $yellowColor;
    border: 3px solid $yellowColor;
}

.messages {
    list-style-type: none;
    margin-top: 4rem;
    padding-left: 1.5rem;

    .messages__item {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .messages__item--ordinary {
        color: white;
    }

    .messages__item--win {
        color: $blueColor;
    }

    .messages__item--lost {
        color: $redColor;
    }
}

.no-events {
    pointer-events: none;
}
